/* Main container for centering content */
.container {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

}

.content {
    width: 60%; /* 60% for the content */
    background-color: white;
    border-left: 1px solid black; /* Black vertical borders */
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 400px;
    box-sizing: border-box; /* Ensure padding is included in the width calculation */

    /* Glowing black effect */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); /* Horizontal, vertical, blur radius, color */
}


/* Header Images */
.image-container {
    display: flex;
    flex-direction: row; /* Align images in a row */
    align-items: center; /* Center items vertically */
    gap: 20px; /* Space between images */
}

.profile-img {
    max-width: 100%; 
    opacity: 0.7;
    height: 300px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
    flex-shrink: 1; /* Allow image to shrink */
}

.name-img {
    max-width: 100%; 
    height: 250px; /* Adjust height as needed */
    max-width: 700px; /* Maintain aspect ratio */
    flex-shrink: 1; /* Allow image to shrink */
}

/* Styling the navigation bar */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: white;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    width: 100%; /* Full width for navbar */
}

nav a:hover {
    color: #FFDB58;
}

/* Remove default styles for the list */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/* Style the list items */
li {
    margin: 0 15px;
}

/* Style the links */
a {
    color: black;
    font-size: 20px;
    text-decoration: none; /* Remove underline from links */
}

html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    border-bottom: 50px;
}

.main {
    text-align: center;
    font-size: 24px;
    margin-top: 20px; /* Adjusted margin to keep space below images */
}

.Quote {
    margin-bottom: 30px;
    font-style: italic;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 80px;
}

.paragraph {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    margin-left: 100px;
    margin-right: 100px;
}


footer {
    display: flex; 
    position: relative;
    top: 400px; /* Make footer fixed at the bottom */
    bottom: 0; /* Align to the bottom of the page */
    width: 100%;
    color: black;
    text-align: center;
    padding: 10px;
    justify-content: center;
}


